/* Reset do CSS(bom pra cada navegador) */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    background-color: gray;
    background-size: auto 100vh;
    font-family: 'Oswald', sans-serif;
    height: 100vh;
    font-size: 10px;
  }
  /*Caso a tela tenha no mínimo 400px*/
  @media (min-width: 400px) {
    body {
      font-size: 14px;
    }
  }
  /*Site pra telas em HD e acima*/
  @media (min-width: 1280px) {
    body {
      font-size: 20px;
    }
  }
  header {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .menu {
    align-self: auto;
    background-color: lemonchiffon;
    position: fixed;
    top: 0;
    width: 100vw;
  }
  .menu li {
    vertical-align: text-bottom;
    list-style: none;
  }
  .menu ul {
    margin: 0;
    border: 2px solid black;
    padding: 0;
    display: flex;
    justify-content: space-around;
  }
  .menu a {
    display: block;
    background-color: none;
    padding: 15px 50px;
  }
  a {
    color: black;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .site-title,
  .site-subtitle {
    text-align: center;
    color: black;
    line-height: 2em;
  }
  .site-title {
    font-family: 'Roboto Mono', monospace;
    font-size: 3em;
  }
  .site-subtitle {
    font-family: 'Roboto Mono', monospace;
    font-style: italic;
    font-size: 2em;
  }
  .aboutme {
    padding: 2em;
  }
  .aboutme h2 {
    text-align: center;
    font-family: 'Anton', sans-serif;    
  }
  .projects {
    padding: 2em;
  }
  .projects h2 {
    text-align: center;
    font-family: 'Anton', sans-serif;
  }
  .projects .projGrid {
    display: grid;
    gap: 1em;
  }
  .projects figure {
    text-align: center;
  }
  .projects h2,
  .projGrid {
    padding: 1em;
  }
  .links {
    padding: 2em;
  }
  .links h2 {
    text-align: center;
    font-family: 'Anton', sans-serif;
  }
  .links .linksGrid {
    display: grid;
    gap: 1em;
  }
  .links h2,
  .linksGrid {
    padding: 1em;
  }
  .links figure {
    text-align: center;
  }
  .img-cont {
    height: 128px;
    width: 128px;    
  }
  .thanks {
    padding: 2em;
  }
  .thanks h2{
    text-align: center;
    font-family: 'Anton', sans-serif;
  }
  .thanks .thanksGrid {
    display: grid;
    gap: 1em;
  }
  .thanks h2,
  .thanksGrid {
    padding: 1em;
  }
  /*Grid pra telas de ~400px*/
  @media (min-width: 400px) {
    .links .linksGrid {
      grid-template-columns: repeat(2, 180px);
      justify-content: center;
    }
    .projects .projGrid {
      grid-template-columns: repeat(2, 180px);
      justify-content: center;
    }
    /*thanks .thanksGrid {
      grid-template-columns: repeat(2, 180px);
      justify-content: center;
    }*/
  }
  /*Grid pra telas de ~600px*/
  @media (min-width: 600px) {
    .links .linksGrid {
      grid-template-columns: repeat(3, 180px);
      justify-content: center;
    }
    .projects .projGrid {
      grid-template-columns: repeat(3, 180px);
      justify-content: center;
    }
    /*thanks .thanksGrid {
      grid-template-columns: repeat(3, 180px);
      justify-content: center;
    }*/
  }
  /*Grid pra telas de ~800px*/
  @media (min-width: 800px) {
    .links .linksGrid {
      grid-template-columns: repeat(4, 180px);
      justify-content: center;
    }
    .projects .projGrid {
      grid-template-columns: repeat(4, 180px);
      justify-content: center;
    }
    /*.thanks .thanksGrid {
      grid-template-columns: repeat(4, 180px);
      justify-content: center;
    }*/
  }
  .thanks figure {
    text-align: center;
  }
  .img-thanks,
  .img-project {
    height: 128px;
    width: 128px;
    object-fit: cover;
    border-radius: 50%;
  }
