/* Reset do CSS(bom pra cada navegador) */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: gray;
    background-size: auto 100vh;
    font-family: 'Oswald', sans-serif;
    height: 100vh;
    font-size: 10px;
  }
  /*Caso a tela tenha no máximo 399px*/
  @media (max-width: 399px) {
    body {
      font-size: 10px;
    }
  }
  /*Caso a tela tenha no mínimo 400px*/
  @media (min-width: 400px) {
    body {
      font-size: 14px;
    }
  }
  /*Site pra telas em HD e acima*/
  @media (min-width: 1280px) {
    body {
      font-size: 20px;
    }
  }
  header {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /*Menu de cima e de baixo*/
  .menu,
  .bottom_menu {
    align-self: auto;
    background-color: lemonchiffon;
  }
  .menu li,
  .bottom_menu li {
    list-style: none;
  }
  .menu ul,
  .bottom_menu ul {
    margin: 0;
    border: 2px solid black;
    padding: 0;
    display: flex;
  }
  /*Menu de cima*/
  .menu {
    position: fixed;
    top: 0;
    width: 100vw;
  }
  .menu li {
    vertical-align: text-bottom;
  }
  .menu ul {
    justify-content: space-around;
  }
  .menu a {
    color: black;
    display: block;
    padding: 15px 50px;
  }
  .menu a:hover {
    text-decoration: underline;
    background-color: lightyellow;
  }
  /*Conto*/
  .conto {
      margin: 2em;
      margin-left: 4em;
      margin-right: 4em;     
  }
  .conto h2 {
      text-align: center;
      margin-bottom: 2em;
  }
  .conto p {
      margin-bottom: 1em;
      text-align: left;
      text-indent: 1.5em;
  }
  /*Menu de baixo*/
  .bottom_menu {
    bottom: 0;
  }
  .bottom_menu li {
    text-align: left;
    vertical-align: text-bottom;
  }
  .bottom_menu ul {
    justify-content: left;
  }
  .bottom_menu a {
    color: black;
    padding: 1px 19px;
    font-size: 1.5em;
  }
  .bottom_menu .bottom-discord,
  .bottom-twitch,
  .bottom-twitter,
  .bottom-instagram,
  .bottom-linkedin,
  .bottom-github,
  .bottom-youtube {
    transition: text-shadow 1s;
  }
  .botom_menu .bottom-discord:active,
  .bottom_menu .bottom-discord:hover {
    text-shadow: 0 0 10px #7289da;
  }
  .botom_menu .bottom-twitch:active,
  .bottom_menu .bottom-twitch:hover {
    text-shadow: 0 0 10px #402272;
  }
  .botom_menu .bottom-twitter:active,
  .bottom_menu .bottom-twitter:hover {
    text-shadow: 0 0 10px #2daae1;
  }
  .botom_menu .bottom-instagram:active,
  .bottom_menu .bottom-instagram:hover {
    text-shadow: 0 0 10px #df326b;
  }
  .botom_menu .bottom-linkedin:active,
  .bottom_menu .bottom-linkedin:hover {
    text-shadow: 0 0 10px #0274b3;
  }
  .botom_menu .bottom-github:active,
  .bottom_menu .bottom-github:hover {
    text-shadow: 0 0 10px #000000;
  }
  .botom_menu .bottom-youtube:active,
  .bottom_menu .bottom-youtube:hover {
    text-shadow: 0 0 10px #ff0000;
  }